DENTAL_AI_ENV=development
DENTAL_AI_HOST=0.0.0.0
DENTAL_AI_PORT=8000

DENTAL_AI_MONGO_URI=mongodb://localhost:27017
DENTAL_AI_MONGO_DB_NAME=dental_ai
DENTAL_AI_MONGO_ANALYSES_COLLECTION=analyses
DENTAL_AI_MONGO_USERS_COLLECTION=users

#DENTAL_AI_MODEL_PATH=../entrenamiento ia pruebas/best.pt
DENTAL_AI_MODEL_PATH='../entrenamiento ia pruebas/best.pt'
DENTAL_AI_MODEL_VERSION=best.pt
DENTAL_AI_MODEL_DEVICE=auto
DENTAL_AI_MODEL_WARMUP_ON_STARTUP=true
DENTAL_AI_MODEL_CONFIDENCE=0.25
DENTAL_AI_MODEL_IOU=0.45

DENTAL_AI_UPLOADS_DIR=./storage/uploads
DENTAL_AI_MAX_FILE_SIZE_BYTES=10485760
#DENTAL_AI_ALLOWED_MIME_TYPES=image/jpeg,image/png
DENTAL_AI_ALLOWED_MIME_TYPES=["image/jpeg","image/jpg","image/png"]

DENTAL_AI_LOG_LEVEL=INFO

DENTAL_AI_EVENTS_ENABLED=true
DENTAL_AI_EVENTS_TRANSPORT=log
DENTAL_AI_KAFKA_ENABLED=false
DENTAL_AI_KAFKA_BOOTSTRAP_SERVERS=localhost:9092
DENTAL_AI_KAFKA_TOPIC_ANALYSIS_EVENTS=analysis-events

DENTAL_AI_AUTH_JWT_SECRET=change-this-secret-in-production
DENTAL_AI_AUTH_JWT_ALGORITHM=HS256
DENTAL_AI_AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=1440
